#cat {
    float: center;
    border-radius: 250px;
}
#lists{
    text-align: left;
}
header {
    text-align: center;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
}

body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
}


